html{
    padding: 0;
}
body{
    padding: 0;
    margin:0;
    background-color: #fbfbfc;
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

/* header */
header{
    padding: 0;
    margin: 0;
    color: black;
}
.suvVisualArea >div >div{
    display:table-cell;
    width: 100%;
    text-align: center;
}
.top_img{
    position: relative;
    /* overflow: hidden; */
    width: 100%;
    height: 410px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px #aaa;

}
h1.topTitle {
    font-size: 56px;
}
.carousel_slide{
    height: 8vw;
}

/*nav bar*/


/* main */
.container{
    width: 1100px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin: 0 auto;
}
.text-center{
    text-align: center;
    margin-top: 100px;
}
.main-title{
    font-size: 50px;
    font-weight: 700;
}
.sub-title{
    margin-top: 20px;
    color: #54585a;
    font-size: 20px;
}
ul{
    list-style: none;
}
.txtQ{
    font-size: 35px;
    font-weight: bold;
    margin-right: 50px;
    margin-left: 50px;
}
.question-box{
    margin-top: 100px;
    text-align: center;
}
.q-box{
    border: 1px solid #ebebeb;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    padding-bottom: 100px;
}
label {
    display: inline-block;
    width: 10rem;
    text-align: left;
    font-size: 20px;
}
form {
    margin: 0 auto;
    width: 45rem;
    padding: 1em;
    font-weight: bold;
}
input, textarea {
    font: 1em;
    width: 500px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgb(235, 235, 235);
}
textarea {
    vertical-align: top;
    height: 13em;
    resize: vertical;
}
.q-line{
    margin-top: 20px;
}
.qna{
    margin-top: 70px;
    margin-bottom: 100px;
    text-align: center;
}
.qna-btn{
    margin-top: 10px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 60px;
    font-weight: bold;
    background-color: white;
    border: 5px solid #ed1b24;
    margin: 10px;
}
.qna-btn:hover{
    text-decoration: none;
    color: black;
}
.qna-bt{
    margin-top: 50px;
}



/* footer */
footer{
    font-size: 13px;
    margin-bottom: 40px;
    margin-top: 100px;
}
.footer-inf1{
    border-top: 1px solid #c4c6c7;
}
.f-bold{
    font-weight: bold;
}
.linklist li{
    line-height: 78px;
    float: left;
    text-align: center;
    margin-right: 25px;
    /* width: 17%; */
}
li.f-box{
    margin-left: 150px;
    margin-right: -100px;
}
.f-group{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    height:10px;
    border: 1px solid #c4c6c7;
}
ul{
    list-style: none;
}
.footer-inf2{
    border-top: 1px solid #c4c6c7;
    margin-top: 100px;
}
.ftlogo{
    width: 160px;
    height: 70px;
    margin-left: 25px;
    margin-top: 15px;
}
.f-info1{
    margin-left: 150px;
    margin-top: -90px;
    width: 600px;
}
.f-info1 li{
    float: left;
}
.call-number{
    font-weight: bold;
    color: brown;
}
.f-info2{
    margin-left: 150px;
    padding-left: -100px;
}
.footer-inf2 li{
    float: left;
    margin-left: 9px;
    padding-left: 9px;
    line-height: 25px;
}
.copyright{
    color: grey;
}
.footer-inf2 .ciclogo{
    margin-left: 350px;
}